@using eShop.Mvc.BLL.ViewModels
@model ProductViewModel
@{
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Product.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:700" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
<img class="wave" src="~/img/product-back.png">
<h1 style="color: white; margin-top: 2rem;">@Model.ProductName.ToUpper()</h1>
<div class="row">
    <div class=" col col-4">
        <div>
            <img class="product-pic" src="@Model.ImageDataURL">
        </div>
        <div class="about-box">
            <div style="margin-top:2rem; margin-left: 1.5rem;" class="col-12">
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Genre</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@String.Join(", ", Model.Genres.ToArray())</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Age rating</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@Model.AgeRating.ToString()</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Language</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@String.Join(", ", Model.Languages.ToArray())</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Release date</h6>
                    <h6 class="col-8" style=" color: White;  margin-bottom: 3px; opacity: 0.9;font-weight: normal;">@Model.ReleaseDate</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;   margin-bottom: 3px; font-weight: normal;">Publisher</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9;font-weight: normal;">@Model.Publisher</h6>
                </div>
                <div class="row" style="margin-top:1rem; margin-bottom: 2rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;   margin-bottom: 3px; font-weight: normal;">Developer</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9;font-weight: normal;">@Model.Developer</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-8">
        <div class="row">
            <div class="about-box2 col-4">
                <div style="margin-top:1rem;" class="col col-12">
                    <div class="col row col-12" style="margin-top:1rem; margin-left: 1.5rem; margin-bottom: 0.5rem;">
                        <div class="col col-1">
                            <img src="~/img/home/ok.svg" class="promo-img">
                        </div>
                        <div class="col col-9 row" style="margin-top: 3px;">
                            <h8 class="col col-4" style="color: White; opacity: 0.9; font-weight: normal; text-align: left; margin-left:15px;">Availability:</h8>
                            <h8 class="col col-4" style="color: #ff7c3c; opacity: 0.9; font-weight: normal; text-align: left; margin-left:25px;">@Model.Availability.ToString()</h8>
                        </div>

                    </div>
                    <div class="col row col-12" style="margin-top:1rem; margin-left: 1.5rem; margin-bottom: 0.5rem;">
                        <div class="col col-1">
                            <img src="~/img/home/message.svg" class="promo-img">
                        </div>
                        <div class="col col-9" style="margin-top: 3px;">
                            <h8 style="color: White; opacity: 0.9; font-weight: normal; text-align: left; margin-left:15px;">Instant delivery</h8>
                        </div>

                    </div>
                    <div class="col row col-12" style="margin-top:1rem; margin-left: 1.5rem; margin-bottom: 0.5rem;">
                        <div class="col col-1">
                            <img src="~/img/home/key2.svg" class="promo-img">
                        </div>
                        <div class="col col-9" style="margin-top: 3px;">
                            <h8 style="color: White; opacity: 0.9; font-weight: normal; text-align: left; margin-left:15px;">License activation key</h8>
                        </div>

                    </div>
                    <div class="col row col-12" style="margin-top:1rem; margin-left: 1.5rem; margin-bottom: 0.5rem;">
                        <div class="col col-1">
                            <img src="~/img/home/procent.svg" class="promo-img">
                        </div>
                        <div class="col col-9" style="margin-top: 3px;">
                            <h8 style="color: White; opacity: 0.9; font-weight: normal; text-align: left; margin-left:15px;">Accumulative discount</h8>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col col-4" style="margin-top:5.5rem; margin-left: 1rem;">
                <div class="row">
                    <div class="promo col-1">
                        <p class="inner-text">@String.Concat("-", Model.DiscountAmount, "%")</p>
                    </div>
                    <div class="col" style="color: white; margin-bottom: 3px; opacity: 0.9; font-weight: 600; font-size:3rem; margin-left:0.5rem;">
                        @Model.Price$
                    </div>
                </div>
                @if (@User.Identity.IsAuthenticated)
                {
                    <form id="@Model.ProductId" method="post"  asp-controller="Cart" asp-action="Add" asp-route-productId="@Model.ProductId">
                        <input type="submit" class="btn btn-outline-primary" style="width: 100%;" value="Add to cart">
                    </form>
                }
             else
                {
                    <input type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 100%;" value="Add to cart">
                }

            </div>
        </div>
        <div class="description-box col-12 row">
            <h5 class="col col-12" style="margin-top:1.5rem; margin-left: 1.5rem;">Description</h5>
            <h7 style="margin-top:0.5rem; margin-left: 1.5rem; width:96%; margin-bottom: 1rem;">
                @Html.Raw(Model.Description)
            </h7>
        </div>
        <div class="requirements-box col-12 row">
            <h5 class="col col-12" style="margin-top:1.5rem; margin-left: 1.5rem;">System requirements</h5>
            <hr style="margin-left: 1.5rem; width:95%;" />
            <div class="col-12">
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">OS</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@Model.SystemRequirments.Os</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Processor</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@Model.SystemRequirments.Processor</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Ram</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@Model.SystemRequirments.Ram</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Graphic card</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@Model.SystemRequirments.GraphicCard</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">DirectX</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@Model.SystemRequirments.DiretX</h6>
                </div>
                <div class="row" style="margin-top:1rem;  margin-bottom: 1.5rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">HDD</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">@Model.SystemRequirments.Hdd</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<img class="wave1" src="~/img/back-dark.png">
<div class="row about-company">
    <div class="col col-md-3">
        <div class="row">
            <img src="~/img/home/key.svg" class="footer-img col-4">
            <p class="col-8 footer-txt-about ">License keys from official publishers</p>
        </div>
    </div>
    <div class="col col-md-3">
        <div class="row">
            <img src="~/img/home/gaika.svg" class="footer-img col-4">
            <p class="col-8 footer-txt-about ">Guaranteed technical support for your purchase</p>
        </div>
    </div>
    <div class="col col-md-3">
        <div class="row">
            <img src="~/img/home/procent.svg" class="footer-img col-4">
            <p class="col-8 footer-txt-about ">Regular promotions, discounts and bonuses</p>
        </div>
    </div>
    <div class="col col-md-3">
        <div class="row">
            <img src="~/img/home/otzivy.svg" class="col-4 footer-img">
            <p class="col-8 footer-txt-about ">Over 9000 positive reviews from real customers</p>
        </div>
    </div>
    <hr style="color: #999; margin-top: 4rem;" />
    <div class="col-6">
        <p class="footer-txt" style="margin-bottom: 5px;">© 2022 eShop</p>
        <p class="footer-txt-privacy">All rights reserved. Full or partial copying of site materials without the consent of the administration is prohibited!</p>
        <p class="footer-txt-privacy">All game names, company names, trademarks, logos and game materials are the property of their respective owners.</p>
    </div>
    <div class="col-6 row" style="justify-content: space-around; margin-top: 3rem;">
        <a class="col-3 col" style="color: #999; position: center;">Agreement</a>
        <a class="col-3 col" style="color: #999; position: center;">For partners</a>
        <a class="col-3 col" style="color: #999; position: center;">Support</a>
        <a class="col-3 col" style="color: #999; position: center;">About the site</a>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-custom">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                Only authorized users can use the shopping cart
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-primary mod-button" asp-area="Identity" asp-page="/Account/Register">Login</a>
                <a type="button" class="btn btn-outline-primary mod-button" asp-area="Identity" asp-page="/Account/Login">Create new account</a>
            </div>
        </div>
    </div>
</div>
