@using eShop.Mvc.ViewModels
@model List<ProductSlimViewModel>
@{
    ViewData["Title"] = "Cart";
}

@*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
<link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
<h2 style="margin-left: 14rem; margin-top: 2.5rem;/* color:#f8f4f4;*/">Cart</h2>

<form>
    <div class="cont container1">

        <div class="large-box col-8">
            <hr style="color: #999; margin-top: 0.5rem;" />
            <div class="content1">
                @foreach (var item in Model)
                {
                    <div class="box">
                        <img src="@item.imageDataURL">
                        <div style="margin-left: 25px; margin-top: 0.4rem;">
                            <a asp-route-productId="@item.ProductId" asp-controller="Product" asp-action="Index">
                                <div class="navbar-brand">@item.ProductName</div>
                                <h5 style=" color: #999; font-size: 0.9rem;  margin-bottom: 3px">@String.Join(", ", item.Genres.ToArray())</h5>
                                <div class="age-rating @item.AgeRating.ToString()">@item.AgeRating.ToString()</div>
                                <h4 style="position: absolute; right: 0; margin-top: -3.15rem;color: #999; margin-right: 5rem;">@item.Price $</h4>
                            </a>
                            @*  <img class="recycle" src="~/img/trash.png" style="width: 1.5rem; height: 1.5rem; margin-left: 41rem; margin-top: -4.5rem;" >*@
                            <form method="post" asp-action="Delete" asp-route-productId="@item.ProductId">
                            <div class="close-container">
                                <input type="submit" class="leftright">
                                <input type="submit" class="rightleft">
                            </div>
                            </form>
                        </div>
                    </div>
                }

                <div class="row">

                    <div class=" col col-4" style="/*margin-left: 25px;*/ margin-top: 10px;">
                        <h5 style=" color: #999; font-size: 0.9rem;  margin-bottom: 3px; margin-left:0.5rem;">Email</h5>
                        <input type="email" style="border-radius: 10px;" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required="required">
                    </div>
                    <div class="col row" style="right: 0;">
                        <h4 class="col col-1" style=" margin-top: 2rem; margin-left: auto; margin-right: -28rem;">Total: </h4>  <h4 class="col col-1" style="margin-top: 2rem; margin-left: auto; margin-right: 3rem;">@Model.Sum(x => x.Price)$</h4>
                    </div>

                </div>
                <div class="form-check" style="margin-top: 1.5rem;">
                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" required="required">
                    <label class="form-check-label" for="flexCheckDefault" style=" color: #999; font-size: 0.9rem;  margin-bottom: 3px">
                        I have read the user agreement, product description and regional restrictions, privacy policy and agree to the processing of personal data.
                    </label>
                </div>
            </div>
            <input type="submit" class="btn btn-outline-primary col-12" style="width: 100%;" value="Pay">
        </div>

        @*  <input type="submit" class="btn btn-outline-primary" value="Login">*@
    </div>
</form>

<script>
    const inputs = document.querySelectorAll(".input");

     function addcl(){
         let parent = this.parentNode.parentNode;
         parent.classList.add("focus");
     }

     function remcl(){
         let parent = this.parentNode.parentNode;
         if(this.value == ""){
             parent.classList.remove("focus");
         }
     }

     inputs.forEach(input => {
         input.addEventListener("focus", addcl);
         input.addEventListener("blur", remcl);
     });
</script>
<script src="https://kit.fontawesome.com/a81368914c.js"></script>